/* You can add global styles to this file, and also import other style files */

.container{
    margin-top: 80px;
    border: lime;
    width: 80%;
    padding: 10px;
    background-color: aliceblue;

}
section {
  display: inline-block;
  margin: 10px;
  margin-left: 150px;
  margin-right: 150px;
  border: green;
  padding: 25px;
}

img {
  width: 500px;
  height: 350px;
  display: block;
}
