<!-- <h1>Test de ngx-dom-visualizer</h1>
<button (click)="toggleVisualizer()">Toggle Visualizer</button>
<lib-ngx-dom-visualizer>
  <div class="container">
    <section>
      <ul>
        <li>
          <a href="">lien 1</a>
        </li>
        <li>
          <a href="">lien 2</a>
        </li>
      </ul>
    </section>
    
    
    <section>
      <img src="https://img.20mn.fr/hV2FuzIaQT6Eh9z2LynJUA/722x460_planete-neptune-vue-sonde-voyager-ii-2008" alt="">
      <img src="https://master.salamandre.net/media/21612/la-geante-jupiter-1800x1016.jpg" alt="">
      <img src="https://www.asc-csa.gc.ca/images/astronomie/systeme-solaire/mars-1.png" alt="">
      <img src="https://portal-cdn.scnat.ch/asset/ed437e6c-84c8-5f7d-8600-73e568d0fdfe/Saturn.jpg?b=02e4cd1b-261d-5cee-9de2-29f125f557be&v=8ae0eda4-d9fc-57a5-8d3b-211d64b1af63_100&s=dOEqPkbM04P9fJbxyxtR0RaYHelksxw8lrXH_96s1ZZrtPTnXkr_Bfn4rUSbW3PDV1O4PB6rPTxz7ywD-Ly2vMyVrkgqITLgyw5qCEgtFdoqty0mRg5hPSPUTo3vjaDBr8ecQKJlQ5lJ3VwuxMZBY-5MWuGgR1XN7eEsiPIIbk8&t=b1085d3c-fb5f-446e-ae88-ed9d76537838&sc=2" alt="">
    </section>
  </div>
</lib-ngx-dom-visualizer>
 -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo-App</title>
 </head>
 <body>
  
 </body>
 </html>